{
    "extends": "react-app",
    "rules": {
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "semi": ["warn", "never"],
        "quotes": ["warn", "single"],
        "sort-keys": ["warn", "asc"]
    }
}
